{% extends "layout.html.j2" %}

{% block header %}
    <h1>{{ messages.get("welcome_header") }}</h1>
{% endblock %}

{% block body %}
    {{ messages.get("welcome_message") }}

    <ul>
        <form method="POST" action="/done" class="form-group">
            {{ form.csrf_token }}
            {% for field_name, field in form._fields.items() %}
                {% if not field.flags.hidden %}
                    <li>
                        <div class="form-group">
                            {{ field.description or field.label }}
                            {{ field() }}
                        </div>
                    </li>
                {% else %}
                    {{ field() }}
                {% endif %}

            {% endfor %}


            <input type="submit" value="All done!">
        </form>
    </ul>

{% endblock %}